.password-container{
    min-height:100vh;
    background:linear-gradient(135deg,#020617,#0f172a,#1e293b);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.password-card{
    width:900px;
    max-width:100%;
    background:#111827;
    border:1px solid #f59e0b;
    border-radius:20px;
    padding:35px;
    color:white;
    box-shadow:0 0 35px rgba(245,158,11,.2);
}

.password-card h1{
    text-align:center;
    color:#fbbf24;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#cbd5e1;
    margin-bottom:25px;
}

.progress{
    width:100%;
    height:15px;
    background:#1e293b;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:30px;
}

.progress-fill{
    height:100%;
    background:linear-gradient(90deg,#f59e0b,#fbbf24);
    transition:.4s;
}

.question-box{
    background:#0f172a;
    border-left:5px solid #fbbf24;
    border-radius:15px;
    padding:25px;
    margin-bottom:25px;
}

.question-box h3{
    color:#fbbf24;
    margin-bottom:15px;
}

.question-text{
    white-space:pre-wrap;
    font-family:Consolas, monospace;
    color:#e2e8f0;
    font-size:16px;
}

.options{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;
}

.option-btn{
    padding:15px;
    background:#d97706;
    color:white;
    border:none;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
    font-size:16px;
}

.option-btn:hover{
    background:#f59e0b;
    transform:translateY(-3px);
}

.hint-btn{
    margin-top:25px;
    padding:12px 25px;
    background:#b45309;
    color:white;
    border:none;
    border-radius:12px;
    cursor:pointer;
}

.hint-btn:hover{
    background:#d97706;
}

.hint-box{
    margin-top:20px;
    background:#451a03;
    border-left:5px solid #fbbf24;
    padding:18px;
    border-radius:12px;
    color:#fde68a;
}

.result-box{
    margin-top:20px;
    background:#0f172a;
    padding:20px;
    border-radius:12px;
    text-align:center;
    color:#4ade80;
    font-weight:bold;
}

.next-btn{
    width:100%;
    margin-top:25px;
    padding:15px;
    background:#f59e0b;
    color:white;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-size:17px;
}

.next-btn:hover{
    background:#fbbf24;
}

.complete-box{
    text-align:center;
    background:#451a03;
    padding:35px;
    border-radius:20px;
    border:1px solid #fbbf24;
}

.complete-box h2{
    color:#4ade80;
}

.complete-box h3{
    color:#facc15;
    margin-top:15px;
}

.restart-btn{
    margin-top:25px;
    padding:14px 35px;
    border:none;
    border-radius:12px;
    background:#f59e0b;
    color:white;
    cursor:pointer;
}

.restart-btn:hover{
    background:#fbbf24;
}

@media(max-width:768px){

.password-card{
    padding:20px;
}

.options{
    grid-template-columns:1fr;
}

.option-btn{
    width:100%;
}

.question-text{
    font-size:14px;
}

}